:root {
  font-family: Arial, sans-serif;
}

.main {
  display: grid;
  padding-top: 4rem;
  position: relative;
}

.center {
  justify-content: center;
}

.split {
  display: flex;
  justify-content: space-between;
}

a {
  color: darkblue;
  text-decoration: underline;
}

textarea {
  resize: none;
}

.date {
  width: 13ch;
}

.header,
.notification {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 10;
}

.notification {
  width: 20rem;
  margin-top: 2px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
}

.success {
  background-color: lightgreen;
  border: 1px solid green;
  color: darkgreen;
}

.failure {
  background-color: lightsalmon;
  border: 1px solid red;
  color: rgb(95, 4, 4);
}

table {
  margin-top: 0.5rem;
  text-align: center;
  border-collapse: collapse;
}

.task {
  table-layout: fixed;
  width: 100%;
  min-height: 75vh;
}
table th,
table td {
  padding: 0.5rem;
}

.task td,
.task th .app td {
  padding: 0.2rem;
  vertical-align: top;
  border-left: 1px solid #ccc;
}

.task td:first-child,
.task th:first-child {
  border-left: none;
}

.card {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5rem;
}

.card p,
.card strong{
  margin:0.1rem;
}

.close {
  position: absolute;
  margin: 1rem;
  right: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
